:root {
    /* Color */
    --main-txt-cl: #434455;
    --background-cl: #FFFFFF;
    --link-cl: #2E2F42;
    --color-cloud: #f4f4fd;
    --logo-cl: #4D5AE5;
    --activ-cl: #404bbf;
    --hero-cl: #FFFFFF;
    /* Fonts */
    --main-ft: Roboto, sans-serif;
    --second-ft: Raleway, sans-serif;
}

/**
  |============================
  | Base style
  |============================
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: var(--main-ft);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: var(--main-txt-cl);
    background-color: var(--background-cl);
}

/* reset start */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/**
  |============================
  | Header
  |============================
*/

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo-link {
    font-family: var(--second-ft);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-cl);
    margin-right: 76px;
}

.web-logo {
    font-family: var(--second-ft);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-cl);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
    margin-right: 332px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
    font-family: var(--main-ft);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-cl);
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    font-style: normal;
}

.header-link:hover,
.header-link:focus {
    color: var(--activ-cl);
}

.header-add-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--main-txt-cl);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-add-mail:hover,
.header-add-mail:focus {
    color: var(--activ-cl);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-add-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.header-nav-list .header-nav-iteam:not(:last-child) {
    margin-right: 40px;
}
.header-add-list .header-add-link:not(:last-child) {
    margin-right: 40px;
  }
/**
  |============================
  | Hero
  |============================
*/

.hero-st {
    background-color: var(--link-cl);
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-cl);

    max-width: 496px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
}

.hero-btn {
    background-color: var(--logo-cl);
    font-family: var(--main-ft);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-cl);
    cursor: pointer;

    display: block;
    min-width: 169px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-right: auto;
    margin-left: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--hero-cl);
    background-color: var(--activ-cl);
}

/**
  |============================
  | About
  |============================
*/

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.about-list-iteam {
    width: 264px;
}
.about-list-iteam:not(:last-child) {
    margin-right: 24px;
}
.about-title-main {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-cl);
    margin-bottom: 8px
}

.about-tx {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* About icons */
.about-icon-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cloud);
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio {
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--link-cl);
    text-transform: capitalize;

    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
}

.portfolio-list .portfolio-list-iteam:not(:last-child) {
    margin-right: 24px;
  }

/**
  |============================
  | Team
  |============================
*/

.team {
    background-color: var(--color-cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--link-cl);
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
}
.customers-container .team-title {
    line-height: 1.1;
}

.team-list-iteam {
    background-color: var(--background-cl);
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list .team-list-iteam:not(:last-child) {
    margin-right: 24px;
  }

.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align:center;
    letter-spacing: 0.02em;
    color: var(--link-cl);
    margin-bottom: 8px;
}

.team-tx {
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
}

.card-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    gap: 8px;
}
/* Social icons */
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
}
.socials-iteam {
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--logo-cl);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
    fill: var(--color-cloud);
}
.socials-link:hover {
    background-color: var(--activ-cl);
}

.socials-link:focus {
    background-color: var(--activ-cl);
}

/**
  |============================
  | Customers
  |============================
*/
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-container {
}

.customers-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.customers-iteam {
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: var(--activ-cl);
    color: var(--activ-cl);
}
.customers-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: var(--activ-cl);
    color: var(--activ-cl);
}
.customers-iteam:focus .customers-icon {
    fill: var(--activ-cl);
}
.customers-iteam:hover .customers-icon {
    fill: var(--activ-cl);
}
/**
  |============================
  | Footer
  |============================
*/
.logo-link-footer {
    font-family: var(--second-ft);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-cl);
    
    margin-bottom: 16px;
    display: inline-block;
}

.footer {
    background-color: var(--link-cl);
    color: var(--color-cloud);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    color: var(--color-cloud);
}

.footer-tx {
    font-weight: 400;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-left {
    margin-right: 120px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}

/* Footer social */

.footer-social {
}
.footer-social-tx {
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--hero-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-iteam {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:focus {
    background-color: #31D0AA;
}
.footer-social-link:hover {
    background-color: #31D0AA;
}
.footer-social-icon {
    fill: var(--color-cloud);
}

/**
  |============================
  | Portfolio second page
  |============================
*/

/* Filter section */

.filter-st {
    padding-top: 96px;
    padding-bottom: 120px;
}

.bt-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.bt-list .filter-bt-iteam:not(:last-child) {
    margin-right: 24px;
}
.filter-bt {
    font-family: var(--main-ft);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-cl);
    background-color: var(--color-cloud);
    cursor: pointer;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
}

.filter-bt:hover,
.filter-bt:focus {
    color: var(--background-cl);
    background-color: var(--activ-cl);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);border-radius: 4px;
}

/* Portfoilio section */

.portfolio-title-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-cl);
    margin-bottom: 8px;
}

.portfolio-tx-two {
    color: var(--main-txt-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 0px;
}
.portf-iteam {
    text-decoration: none;
    list-style: none;
    display: block;
}
.portf-list {
    display: flex;
    flex-wrap: wrap;
}
.portf-list-iteam {
    margin-right: 24px;
    margin-bottom: 48px;
}
.portf-list-iteam:nth-child(3n) {
    margin-right: 0px;
}
.portf-list-iteam:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.portf-iteam:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portf-iteam:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-tx {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



